body {
    background-color: #C4BDB4;
}

:root {
    --main-font-family: "Lancelot", serif;
    --secondary-font-family: "Newsreader", serif;
    --main-color:#C4BDB4;
    --secondary-color: #857467;
    --main-font-color: #363331;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.img-responsive-cards {
    width: 100%;
    display: block;
}

.text-center {
    text-align: center;
}

.embed {
    width: 100%;
    aspect-ratio: 1/1;
}
/*GRIDS*/

.grid {
    display: grid;
    grid-gap: 50px;
}

.two-column-grid {
    grid-template-columns: 1fr 1fr;
}

.three-column-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.footer-grid {
    grid-template-columns: 1fr 2fr 2fr;
}

/*SECTIONS*/

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 100px;
}

section.secondary {
    background-color: #f0edea;
}

section.footer {
    padding: 40px;
}

/*HEADER*/

header {
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../images/cozy-bookstore-cafe-stockcake.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 190px;
}

header h4 {
    color: var(--main-color);
    font-family: var(--secondary-font-family);
    line-height: 1.5;
    letter-spacing: 3px;
    font-weight: 900;
    margin: 0;
}

header h1 {
    font-family: "Petit Formal Script", cursive;
    color: var(--main-color);
    font-size: 65px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-family: var(--secondary-font-family);
    color: var(--main-color);
    margin: 0;
    line-height: 1.5;
    font-size: 20px;

}

header button {
    color: var(--main-font-color);
    background-color: var(--main-color);
    font-family: var(--secondary-font-family);
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin: 20px;
}

main {
    margin: 0 auto;
    background-color: white;
    color: var(--main-font-color);
    font-family: var(--secondary-font-family);
}

main h2 {
    margin: 0;
    opacity: 0.3;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

main h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
}

main h4 {
    margin: 0;
    font-size: 24px;
    line-height: 1;
    font-weight: 700px;
}

main p {
margin: 0;
line-height: 1.5;
}

/*CARDS*/

.card {
    background-color: white;
    font-family: var(--secondary-font-family);
}

.card-body {
    padding: 40px;
}

.card-footer {
    padding: 20px 30px;
}

.button {
    display: block;
    color: #C4BDB4;
    padding: 16px;
    font-weight: 700px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: #363331;
    text-decoration: none;
}

.card-header.grid {
    grid-gap: 0;
}



/*FOOTER*/

footer {
    color: var(--main-font-color);
    background-image: linear-gradient(rgba(196, 189, 180, 0.8), rgba(196, 189, 180, 0.8)),
        url("../images/book_stack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: var(--secondary-font-family);
}

footer a {
    color: inherit;
}

footer h3 {
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.9;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul {
    padding: 0;
}

/*MEDIA QUERIES*/

@media (max-width: 1000px) {

    .grid {
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 5px;
    }

    section {
        padding: 33px;
    }

    /*Header*/
    header {
        padding: 30px;  
    }

    header h1 {
        font-size: 48px;
    }

    header h3 {
        font-size: 16px;
    }

/*Main*/
    main h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.3;
    }


/*Cards*/
.card-header img {
    display: none;
}

.embed {
    aspect-ratio: 16 / 9;
}

/*Footer*/

footer {
    padding: 20px;
    text-align: center;
}



}

